name: Shared java deployment on sonatype

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Clean build directories
        run: ./gradlew clean

      - name: Build bridge-api jar
        run: ./gradlew :bridge-api:jar

      - name: Build shadowJar (excluding Fabric)
        run: ./gradlew :bridge-bungeecord:shadowJar :bridge-velocity:shadowJar :bridge-waterdog:shadowJar

      - name: Build Fabric version JARs
        run: ./gradlew :bridge-fabric:v1_21_10:remapJar :bridge-fabric:v1_21_11:remapJar :bridge-fabric:v1_21_5:remapJar :bridge-fabric:v1_21_8:remapJar :bridge-fabric:v1_21_9:remapJar :bridge-fabric:mergeFabricVersions

      - name: Publish to Sonatype
        env:
          ossrhUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ossrhPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
        run: ./gradlew publish